.carousel-indicators { 
    padding: 50px;}

.carousel-inner {
     padding: 50px;
    .carousel-item {
        border: solid 10px $color-principal;
        border-radius: 3px;
        img {cursor: pointer;
            transition: 1s;
            &:active {transform: scale(1.2);}}
    }}
    

    