.gridm2 {
    display: grid;
    .hijogridm22 {
        display: grid;
        grid-template-columns: 35% 65%;
        justify-items:stretch;
        align-items: center;
       background-color: $color-principal;
       border-radius: 3px;
       border: solid 15px $color-principal;
        margin: 5px 10px 5px 10px;
        color: white;
        img {width: 1000px;
        height: 500px;
    } }}

.gridm2 {
   display: grid;
   .hijogridm2 {
    display: grid;
    grid-template-columns: 45% 45%;
    gap : 10px;
    justify-content: space-evenly;
    margin: 15px 0px 15px 0px;
    align-items: stretch;
    img {
        transition: 1s;
        cursor: pointer;
        &:hover {transform: scale(1.03);
        &:active {transform: scale(1.3);}}}
    @media (max-width:740px) {
        grid-template-columns: 90%;
        gap: 20px}
        img {border-radius: 3px;
        border: solid 10px $color-principal}
        
       }
    }