.nosotros {background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;}

.historia {background-color: rgb(66, 145, 149);
    margin: 20px;
    padding: 20px;
    color: white;
    border: solid black;
    text-align: center;}
