.nosotros {background-image: url(../img/nosotros.jpg);
    @extend .cotizaciones-img}

.historia {background-color: rgb(66, 145, 149);
    margin: 20px;
    padding: 20px;
    color: white;
    border: solid black;
    text-align: center;}
